.input-element{
    padding:30px;
    padding-top:20px;
    text-align: center;
}

.parameter-name{
    padding-bottom: 10px;
    font-size: 1.3rem;
}

.save-btn-variable-input{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.numeric-format-input-custom{
    width: 60%;
    padding:10px;
    border-radius: 10px;
    font-size: 0.8rem;
    background-color: #1c2025;
    border:none;
    color:#fff;
    border:1px solid #434d5b;
}

.info-bullet-container{
    padding-top: 10px;
}